@charset "UTF-8";

.video-lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.empty {
	margin-top: 10px;
}

.video {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

p {
    margin-bottom: 10px;
}

button {
    float: right;
    width: 30%;
    background: none;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    padding: 3px 0;
}

button:hover {
    color: white;
    background: cadetblue;
    border: none;
}